
.form-container {
  max-width: 400px;
  margin: 20px auto; /* Adjust the top and bottom margin */
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  }

  .form-container form > div {
    margin-bottom: 15px;
  }
  

  .header-container {
    margin-bottom: 30px;
  }
  
  .footer-container {
    margin-top: 20px;
  }
  
  /* Style for the form heading */
  .form-container h2 {
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #495E57;
    margin-bottom: 20px;
  }
  
  /* Style for form labels */
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style for form input fields */
  .form-container input[type='text'],
  .form-container input[type='password'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  /* Style for the submit button */
  .form-container button[type='submit'] {
    width: 100%;
    padding: 10px;
    font-family: inherit;
  font-size: 18px;
  border: none;
  background-color: #f4ce14;
    border: 0.1875rem solid #f4ce14;
    border-radius: 2rem;
    color: #495e57;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: background,border,color .5s;
  }
  
  .form-container button[type='submit']:hover {
    color: #fff;
    background-color: #495e57;
  }
  
  .warning-msg{
    margin-bottom: 10px;
    font-size: 14px;
    color: red;
  }

  .login-msg{
    color: green;
    font-weight: bold;
    font-size: 20px;
  }

  .long-line {
    border: none;
    border-top: 15px solid #495E57; /* Adjust line color and thickness as needed */
    width: 100%; /* Adjust line width */
  }