.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; 
  margin: 0%;
  padding: 0%;
  position: relative;
}

.cards-container {
    display: inline-block;
    width: 320px;
    height: 450px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:rgba(245, 245, 245, 0.781);
    overflow: hidden;
  }

  .meal-details {
    padding: 10px 10px 0 10px;
  }

.menu-header h1{
  font-family: Markazi Tex;
  font-size: xx-large;
  color:#495e57;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 15%;
  align-items: center;
  display: inline-block;
}

 .btn{
  font-size: 20px;
  background-color: #f4ce14;
  border: 2px solid #f4ce14;
  border-radius: 20px;
  color: #495e57;
  font-weight: 800;
  margin-left: 65%;
  transform: translateY(-150%);
  padding: 0.5rem 1rem;
  transition: background,border,color .5s;
}


 .meal-image img{
    width: 350px;
    height: 200px;  
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 10px 0 0; 
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .meal-titles h5 {
    font-size: 22px;
    color:#495e57;
    display: inline-block;
  }

  
  .meal-prices p{
    color: orange;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -10px;
    transform: translateY(-120%);
    margin-left: 80%;
  }
  
  .meal-footer p {
    font-size: 18px; 
    color: #777;
  }

  .order-delivery h1{
    color:#495e57;
    font-size: 20px;
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    bottom: 90px;
  }

  
.motorcycle-icon {
  color:#495e57;
  position: absolute;
  padding-top: 5px;
  padding-left: 180px;
  bottom: 92px;
}


  
  @media screen and (max-width: 767px){


    .menu-header h1{
      grid-column: 1/2;
      font-size: 22px;
      font-weight:600;
      line-height: 1.5;
      margin-top: 10px;
      margin-left:15px;
      white-space: wrap;
    }


    .menu-header .btn{
      font-size: 14px;
      transform: translateY(-170%);
      white-space: wrap;
      }
 
        .cards img {
          width: 700px;
        };


        .meal-footer p {
          padding: 5px 0px 5px 0px ;
          }


        .order-delivery {
          position: absolute;
          padding-left: 5px;
        }

        .order-delivery h1{
          position: absolute;
          transform: translateY(145px);
          white-space: nowrap;
        }

       .motorcycle-icon {
        top: 30px;
        }
        

  }  

 
