.bookings {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 0px solid #ccc;
  border-radius: 0px;
  background-color:transparent  ;
}

.bookings h2 {
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 50px;
  color:white;
  background-color: #495E57;
}

.bookings form div {
  margin-bottom: 15px;
}

.bookings label {
  color: #495E57;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.bookings input[type='date'],
.bookings input[type='number'],
.bookings select {
  width: 100%;
  padding: 8px;
  color: #495E57;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.bookings button[type='submit'] {
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
  border: none;
  background-color: #f4ce14;
    border: 0.1875rem solid #f4ce14;
    border-radius: 2rem;
    color: #495e57;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: background,border,color .5s;
}

.bookings button[type='submit']:hover {
  color: #fff;
  background-color:  #495E57;
}


.confirmed-booking {
  padding-top: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 200px;
}

.check-icon {
  color: #27ae60;
  margin-bottom: 20px;
}

.confirmation-header {
  font-size: 28px;
  color: #495E57;
  font-family: Markazi Text;
  line-height: 1;
  margin-bottom: 10px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  max-width: 100%;
}

.details-text {
  font-size: 18px;
  color:#495E57;
  line-height: 1.5;
}

@media screen and (max-width: 767px){
  .confirmed-booking {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .confirmation-header {
    font-size: 22px;
      line-height: 1;
      font-weight: bold;
  }
  .details-text {
    font-size: 15px;
    line-height: 1.5;
  }
}