.header{
  display: block;
}

header>section {
  margin-bottom: 5rem;
}

/* Style for the content container */
.content {
  background-color: #495e57; 
  padding-top:1.875rem;
  border-radius: 1px; 
  padding: 40px;
}

/* Style for the content grid */
.content-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Style for the heading elements */
.content-info {
  grid-row: 1;
  grid-column: 1;
  flex: 1; 
  text-align: left;
  padding-left: 20px;
}

.content h1{
  color: yellow;
  display: block;
font-size: 50px;
font-family: Markazi Text;
font-weight: 400;
line-height: 1;
margin-block-start: 1rem;
margin-block-end: 1rem;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
padding-left: 50px;
margin: 10px 0;
}

.content h2{
  color: white;
    display: block;
    font-family: Markazi Text;
    font-weight: 400;
    line-height: 1;
    font-size: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 10px 0;
    padding-left: 50px;
}


.content p {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
  margin: 30px 0 20px;
  color: #fff;
  padding-left: 40px;
}



.button-primary {
  background-color: #f4ce14;
  border:5px solid #f4ce14;
  border-radius: 2rem;
  color: #495e57;
  font-weight: 800;
  padding: 0.5rem 1rem;
  margin-left: 40px;
  transition: background,border,color .5s;
}

.content-info .button-primary{
  display: inline-block;
  margin-top: 2rem;
}
 .food-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}
 
  .image-card {
  width: 450px;
  height: 400px;
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: 15px;
  position: absolute;
  overflow-wrap: none;
  right: 15%;
  top: 50%;
  bottom: 50px;
  transform: translateY(-35%);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media screen and (max-width: 768px){

  .content{
    position: relative;
    padding: 20px;
    padding-bottom: 280px;
  }

  .content h1 {
    font-size: 35px;
    padding-left: 0%;

  }

  .content h2 {
    font-size: 25px;
    margin: 20px 0;
    padding-left: 0%;
  }

  .content p {
    font-size: 16px;
    margin: 20px 0 20px;
    max-width: 90%;
    padding-left: 0%;
  }

  .button-primary {
    margin-left: 0%;
    padding-left: 10px;
  }

  .content-info .button-primary{
    display: inline-block;
    margin-top: 8px;
  }

.image-card{
  width: 400px;
  height: 350px;
  right: 8%;
  transform: translateY(5%);
}

}
