
footer{
    display: block;
    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

.info{
    background-color: #495e57;
}

.company-info{
    margin: 50px;
    display: inline-block;
}


.company-info img{
    background-color:yellowgreen;
    width: 150px;
    height: 170px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 23%;
}

.company-info p{
    color: aliceblue;
    font-size: 18px;
    max-width: 250px;
    margin-top: 20px;
    margin-left: 23%;
}

ul{
    list-style-type: none;
}

 li a {
    color:black; 
    text-decoration: none; 
    transition: color 0.5s; 
}

li a:hover {
    padding: 10px;
    background-color:yellow; 
    transition: background-color 0.3s; 
    border-radius: 8px; 
}


.links{
    display: inline-block;
    transform: translateY(-25%);
    margin-left: 80px;
}

.links h3{
    color:black;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.links li{
    margin: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 20px;
}



.contact{
    color: #495e57;
    display: inline-block;
    transform: translateY(-85%);
    margin-left: 50px;
}

.contact h3{
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.contact  li{
    color: aliceblue;
    margin: 24px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 20px;
}

.contact li>span{
    font-weight: 500;
    font-size: 14px;
}

.media-links{
    display: inline-block;
    transform: translateY(-80%);
    margin-left: 50px;
}

.media-links h3{
    color:black;
        font-family: Karla,sans-serif;
        line-height: 1.5;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.media-links li{
    margin: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 20px;
}


  